@charset "UTF-8"
/*全部商品下拉菜单，因为只要主页才有，所有写在这里*/
.jd-nav .dropmenu{
	overflow: visible;
}
.jd-nav .gooditem{
	display: block;
}
/*全部商品下拉菜单，因为只要主页才有，所有写在这里*/

/*banner背景开始*/
.banner {
	background: red;
	position: relative;
}
.banner span{
	color: blue;
}
.banner a{
	position: absolute;
	width: 100%;
	height: 604px;
	background: url(../imgs/banner.jpg) top center  no-repeat;
	/*background:red;*/
	/*color: red;*/
	/*z-index: -1;*/
}

/*banner背景结束*/

/*中间主体部分*/
.main{
	position: relative;
}
.main .slide{
	position: relative;
	float: left;
	width: 730px;
	height: 454px;
	margin: 10px 0 0 220px;
	overflow: hidden;
}
.main .slide img{
	float: left;

}
.slide .num{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -65px;
}
.slide .num li{
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	background: #3E3E3e;
	border-radius: 9px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}
.slide .num li.now{
	background: #B61B1F;
}
.slide .arr{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -31px;
	width: 100%;
	height: 62px;
}
.slide .arr a,.double11 .night .right span{
	display: block;
	width: 26px;
	height: 62px;
	line-height: 62px;
	background: rgba(0,0,0,0.2);
	font: 700 22px/62px "宋体";
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.slide .arr a.pre
{
	float: left;
}
.slide .arr a.next
{
	float: right;
}
.slide .arr a:hover,.double11 .night .right span:hover{
	background: rgba(0,0,0,0.4);
	/*opacity: 0.4;*/
}
.main .news{
	float: right;
	width: 248px;
	height: 452px;
	border: 1px solid #E4E4E4;
	margin-top: 10px;
	margin-right: 2px;
	overflow: hidden;
}

.main .news .qnews,.main .news .services{
	height: 43px;
	padding-left: 15px;
	
	line-height: 43px;
	border-bottom: 1px dashed #E8E8E7;
}

.main .news .qnews span,.main .news .services span{
	float: left;
	font-size: 15px;
	font-family: "microsoft yahei";
}
.main .news .qnews a{
	float: right;
	margin-right: 10px;
	font: 400 13px/43px "宋体";
}
.main .news .thui{
	padding-top: 6px;
	padding-left: 15px;
	border-bottom:1px dotted #ccc;
}
.main .news .thui a{
	width: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
}
.main .news .thui a .notes{
	font: 600 15px/30px "microsoft yahei";
}
.main .news .thui a .title{
	margin-left: 5px;
	font: 400 14px/30px "microsoft yahei";
}
.main .news .items{
	height: 210px;
	width: 252px;

}
.main .news .items a{
	display: block;
	width: 62px;
	height: 69px;
	float: left;
	border-right:1px solid #E8E8E7;
	border-bottom:1px solid #E8E8E7;
	position: relative;
}
.main .news .items a .icon{
	display: block;
	width: 25px;
	height: 25px;
	margin:12px auto auto auto;
}
/* .main .news .items a .icon{
	background: url(../imgs/icon_lifeserv.png) no-repeat -25px 0;
}
.main .news .items a .icon1{
	background: url(../imgs/icon_lifeserv.png) no-repeat -25px -25px;
}
.main .news .items a .icon2{
	background: url(../imgs/icon_lifeserv.png) no-repeat -25px -50px;
}
.main .news .items a .icon3{
	background: url(../imgs/icon_lifeserv.png) no-repeat -25px -75px;
} */
.main .news .items a .text{
	display: block;
	margin-top: 5px;
	text-align: center;
}
.main .news .items a.hot{ /*:after*/
/* 	content: '';
width: 12px;
height: 15px;
background:url(../imgs/song.png);
position: absolute;
right: 3px;
top: 3px; */
	background: url(../imgs/song.png) right top no-repeat;/*用这一句也能搞定*/
}
/*背景图和上部部分结束*/
/*中间主体部分*/

/*双11开始*/
.double11{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.double11 .night .left{
	float: left;
}
.double11 .night .right{
	width: 998px;
	float: right;
	overflow: hidden;
	margin-left: 2px;
	position: relative;
}
.double11 .night .right ul{
	width: 105%;
}
.double11 .night .right ul li {
	display: block;
	width: 250px;
	height: 164px;

	float: left;
	margin-right: 1px;
}
.double11 .night .right span.pre{
	position: absolute;
	top: 52px;
	left: 0px;
}
.double11 .night .right span.next{
	position: absolute;
	top: 52px;
	right: 0px;
}
/*双11结束*/

/* 秒杀开始 */
.ms{
	width: 1210px;
	height: 305px;
	margin-bottom: 30px;
}
.ms .title{
	height: 55px;
	width: 1160px;
	position: relative;
	padding: 0 20px 0 30px;
	background: url("../imgs/seckill_hd.png") no-repeat;
	line-height: 55px;
}
.ms .title .triangle{
	display: block;
	height: 28px;
	width: 28px;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../imgs/sprite_index@1x.png") -193px -50px no-repeat;
}
.ms .title .left{
	float: left;
	background: url("../imgs/clock.png") no-repeat;
	padding-left: 55px;
}
/*.ms .title .left .clock{
	display:inline-block;
	width: 45px;
	height: 45px;
	
	margin-top: 5px;
}*/
.ms .title .left span{
	height: 55px;
	line-height: 55px;
	color: #fff;
}
.ms .title .left span.h1{
	font-size: 26px;
	font-family:fzzhengheis-el-gbregular;
}
.ms .title .left span.h3{
	font:400 14px/55px "微软雅黑";
}
.ms .title .left span.arrow{
	display: inline-block;
	height: 15px;
	width: 15px;
	line-height: 15px;
	border: 1px solid #ddd;
	color: #ddd;
	border-radius: 15px;
	text-align: center;
	font-family: "siSum";
}
 .ms .title .right{
	padding-right: 20px;
}
.ms .title .right .time{
	margin-top: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #440106;
	font:700 22px/40px "微软雅黑";
	color: #f90013;
	border-radius: 5px;
}
.ms .title .right .symbol{
	font: 700 22px/40px "siSum";
	color: #440106;
}
.ms .title .right .words{
	font-size: 14px;
	color: #fff;
}


.ms .items{
	background: #fff;
	height: 225px;
	padding: 12px 0  13px 0;
}
.ms .items .left{
	width: 1000px;
	overflow: hidden;
	position: relative;
}
.ms .items .left ul{
	height: 225px;
	width: 1000%;

}
.ms .items .left .page{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -25px;
	display: none;
}
.ms .items .left:hover .page{
	display: block;
}
.ms .items .left .page span{
	display: block;
	width: 20px;
	height: 50px;
	background: #ddd;
	line-height: 50px;
	text-align: center;
	font:700 30px/50px "siSum";
	position: absolute;
	top: 0;
	cursor: pointer;
}
.ms .items .left  .page .pre{
	left: 0;
}
.ms .items .left  .page .next{
	right: 0;
}
.ms .items .left li{
	width: 170px;
	height: 225px;
	float: left;
	padding:0 14px 0 15px;
	border-right: 1px solid #ccc;
	text-align:center;
	

}
.ms .items .left li .item{
	position: relative;
}
.ms .items .left li span.topTips{
	display: block;
	width: 30px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	position: absolute;left: 0;
	top: 0;
	background: url("../imgs/sprite_index@1x.png") -55px -40px no-repeat;
}
.ms .items .left li img{
	width: 130px;
	height: 130px;
	margin: 17px auto;
}
.ms .items .left li p.des{
	color: #999;
	text-align: left;
	display: block;
	
	max-width: 100%;
	font-size: 12px;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
 	word-wrap: break-word;/* //下面这二个要配合上面overflow hidden使用 */
 	word-break: break-all;  
}

.ms .items .left li p.price{
	height: 25px;
	padding: 3px 0;
	line-height: 31px;
	text-align: left;
}
.ms .items .left li p.price .i1{
	color: #f10214;
}
.ms .items .left li p.price .i2{
	color: #f10214;
	font-size: 18px;
	margin-right: 10px;
}
.ms .items .left li p.price .i3{
	color: #999;
}
.ms .items .left li p.price .i4{
	color: #999;
	text-decoration:line-through;
	font-size: 14px;
	margin-left: 2px;
}
.ms .items .right{
	width: 180px;
	height: 225px;
	margin: 0 13px;
	position: relative;
} 
.ms .items .right ul{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.ms .items .right ul li{
	float: left;
}
.ms .items .right ul li img{
	width: 180px;
	height: 225px;
}
.ms .items .right  .page{
	height: 10px;
	line-height: 10px;
	width: 44px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -15px;
}
.ms .items .right .page span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ccc;
	/*border: 1px solid #999;*/
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.ms .items .right .page span.active{
	background: #e01222;
}
/* 秒杀结束 */


/* 发现好货开始 */
.goodPro{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 490px;
}
.goodPro .left{
	width: 290px;
	height: 100%;
	margin-right: 10px;
}
.goodPro .left .items{
	height: 410px;
	padding: 10px;
	background: #fff;
}
.goodPro .left .items ul li{
	height: 130px;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding: 5px auto;
	background: #fff;
}
.goodPro .left .items ul li p{
	position: absolute;
	left: 30px;
	top: 15px;
	width: 80px;
	height: 50px;
	overflow: hidden;
	line-height: 25px;
	font-size: 14px;
	color: #4998a1;
	word-wrap: break-word;
 	word-break:break-all; 

}
.goodPro .left .items ul li img{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 40px;
	bottom: 5px;
	transition: 0.2s;
}
.goodPro .left .items ul li:hover img{
	right: 50px;
}
.goodPro .middle{
	width: 450px;
	height: 100%;
	margin-right: 10px;
	background: #fff;
}
.goodPro .right{
	width: 450px;
	height: 100%;
	background: #fff;
}
/*通用top*/
.goodPro .title{
	width: 100%px;
	height: 60px;
	padding: 0 20px 0 30px;
	position: relative;
	color: #fff;
}
.goodPro .title span.triangleBox{
	width: 0;
	height: 0;
	border-top: 20px solid #fff;
    border-right: 20px solid transparent;
    position: absolute;
    left: 0;
    top:0;
}

.goodPro .title  i.triangle{
	display: block;
	width: 20px;
	height: 20px;
	background: url("../imgs/sprite_index@1x.png") no-repeat;
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;

}
.goodPro .title h1,.goodPro .title .fr{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.goodPro .title h1{
	font-size: 26px;
}
.goodPro .title .fr{
	font-size: 14px;
}
.goodPro .title .fr{
	color: #fff;
	margin-top: 15px;
}
.goodPro .title .fr span.mark{
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ddd;
	color: #ddd;
	border-radius: 7px;
	font:500 12px/14px "siSum"; 
	position: static;
	margin-left: 3px;
	text-align: center;
}
/*通用top*/
.goodPro .left .title{
	background: #4998a1;
}
.goodPro .left .title  i.triangle{
	background-position:-194px -100px; 
}
.goodPro .middle .title{
	background: #76488e;
}
.goodPro .middle .title  i.triangle{
	background-position:-3px -164px; 
}
.goodPro .right .title{
	background: #e77005;
}
.goodPro .right .title  i.triangle{
	background-position:-194px -4px; 
}
/*middel;*/
.goodPro .middle .items{
	width: 100%;
	height: 430px;
	overflow: hidden;
	position: relative;
}
.goodPro .middle .items .bigUl{
	width: 1000%;
	height: 430px;
	background: #fff;
	position:absolute;
/* 	left: 30px;
top:30px; */
}
.goodPro .middle .items .bigUl li{
	width: 450px;
	height: 410px;
	padding-top: 20px;
}
.goodPro .middle .items .bigUl li .top{
	border-bottom: 2px solid #ccc;
}
.goodPro .middle .items .bigUl li .top,.goodPro .middle .items .bigUl li .bottom{
	/*float: left;*/
	width: 430px;
	margin:18px 15px;
	height: 160px;
	background: #fff;
}
.goodPro .middle .items .bigUl li p{
	margin-bottom: 15px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	text-align: left;
	text-indent: 10px;
}
.goodPro .middle .items .bigUl li img{
	float: left;
	width: 130px;
	height: 110px;
	margin:0 5px;
	margin-bottom: 10px;
}
.goodPro .middle .items .page{
	width: 430px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	margin-left: 15px;
}
.goodPro .middle .items .page span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #c8c8c8;
	margin-right: 10px;
}
.goodPro .middle .items .page span.active{
	background: #e01222;
}
/*bottom*/
.goodPro .bottom  .items{
	width: 450px;
	height: 430px;
	overflow: hidden;
}
.goodPro .bottom  .items .bigUl{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ddd;
}
.goodPro .bottom  .items .bigUl .bigLi{
	float: left;
	position: relative;
}
.goodPro .bottom  .items .bigUl .bigLi .smallUl{
	position: absolute;
	top: 31px
	left:0;
}
/* 发现好货结束 */
